.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg,green,rgb(42, 221, 241));
}
.container{
    display: flex;
    width: 90vw;
    border: 2px solid red;

}
.AddSection{
    position: absolute;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    bottom: 15px;
    transition: 0.2s;
}
.AddSection:hover{
    color: white;
    border: 2px solid white;
}