.task{
    width: 90%;
    margin: 10px;
    min-height: 150px;
    position: relative;
    background: linear-gradient(45deg,rgb(43, 222, 43),rgb(249, 237, 63));
    cursor: grab;
    border-radius: 8px;
    animation: secAnim 0.3s;
    transition: 0.2s;
    /* transform: translateX(); */
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.268);

}
.addTaskBtn{
    position:fixed;
    bottom: 20px;
    font-size: 24px;
    background: transparent;
    border: 2px solid ;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    z-index: 3;
}
.addTaskBtn:hover{
    color: white;
    border: 2px solid white;
}
.deleteTask,.editTask{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    font-size: 24px;
    transition: 0.2s;
    border: none;
}
.deleteTask:hover{
    color: red;
    /* transform: scale(1.5,1.5); */
}

.editTask{
    top: 40px;
}
.editTask:hover{
    color: yellow;
    /* transform: scale(1.5,1.5); */
}