.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    border: green 1px solid;
    margin: 15px;

}

.secTitle{

}

.secDesc{

}
.secDeleteBtn{
    
}