.modal{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 6;

}
.modal .modalInp{
    font-size: 20px;
    padding: 15px 20px;
}

.modal .modalBtn{
    padding: 15px;
    font-size: 24px;
}